@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');


*{
  font-family: "Faculty Glyphic", sans-serif!important;
  font-style: normal;
}

:root {
  --background: black;
  --foreground: white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.selected_language{
  border: 1px solid white;
}
.selected_li {
  /* background-color: var(--color-seconday);  */
  background-color: var(--color-primary);
}

/* AnimatedInput */
.inputBox {
  position: relative;
}

.inputBox input {
  padding: 15px 20px;
  padding-top: 20px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  font-size: 1em;
}

.inputBox span {
  position: absolute;
  left: 0;
  font-size: 0.7em;
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 6px 1px 5px;
  border-radius: 2px;
  background: #e8e8e8;
  letter-spacing: 1px;
  border: 1px solid #212121;
  color: #212121;
}