@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.selected_language{
  border: 1px solid white;
}
.selected_li {
  /* background-color: var(--color-seconday);  */
  background-color: red;
}