@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');


*{
  font-family: "Faculty Glyphic", sans-serif!important;
  font-style: normal;
}

:root {
  --background: black;
  --foreground: white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.selected_language{
  border: 1px solid white;
}
.selected_li {
  /* background-color: var(--color-seconday);  */
  background-color: var(--color-primary);
}

/* AnimatedInput */
/* From Uiverse.io by elijahgummer */ 
.input-field {
  position: relative;
  border-bottom: 2px solid #f0f424;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}


/* Loader */

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}